.manufacturing {
    &__wrapper {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 480px));
        justify-content: center;
    }
    &__item {
        @include height(590,430);
        @include padding-top(40,20);
        @include padding-left(50,30);
        padding-right: 10px;
        border: 1px solid $sep;
        position: relative;
        &:hover {
            border: 1px solid $accent;
            .manufacturing__item-title {
                color: $accent;
            }
            .manufacturing__item-img {
                filter: grayscale(0);
                transition: .15s linear all;
            }
        }
    }
    &__item-text {
        max-height: 20%;
        overflow: hidden;
    }
    &__item-img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-height: 100%;
        filter: grayscale(.85);
        transition: .15s linear all;
    }
}