<section class="application">
    <div class="application__wrapper">
        <div class="container">
            <img src="img/application.png" alt="application" class="application__bg" width="720" height="626">
            <div class="application__main">
                <h2 class="application__title title">Хотите сотрудничать?</h2>
                <p class="application__text">Оставьте заявку, наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время
                    ответит на&nbsp;все интересующие вопросы и&nbsp;поможем даже в&nbsp;самых сложных случаях!</p>
                <form action="#" class="application__form form">
                    <div class="application__form-inputs">
                        <input class="form__input" type="text" required placeholder="Имя">
                        <input id="phone-mask" class="form__input" type="tel" required placeholder="+7 (___) __-__-___">
                    </div>
                    <div class="form__info">
                        <button class="form__btn btn btn-callback-thanks">Отправить заявку</button>
                        <span class="form__note">Обращаясь к&nbsp;нам вы&nbsp;получаете не&nbsp;только
                            профессиональную работу, но&nbsp;и&nbsp;абсолютную конфиденциальность информации!</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
