<section class="blog">
    <div class="container">
        <h2 class="blog__title title">Блог экспертов в&nbsp;области производства</h2>
        <div class="blog__wrapper">
            <a href="#" class="blog__item item-blog">
                <img src="img/blog1.webp" alt="blog" class="item-blog__img" width="705" height="400">
                <div class="item-blog__content">
                    <h3 class="item-blog__title">Современная методология разработки одухотворила всех причастных</h3>
                    <p class="item-blog__text">Действия представителей оппозиции, превозмогая сложившуюся непростую
                        экономическую ситуацию, в&nbsp;равной степени предоставлены...</p>
                </div>
            </a>
            <a href="#" class="blog__item item-blog">
                <img src="img/blog2.webp" alt="blog" class="item-blog__img" width="705" height="400">
                <div class="item-blog__content">
                    <h3 class="item-blog__title">Сложно сказать, почему жизнь прекрасна</h3>
                    <p class="item-blog__text">Сложно сказать, почему элементы политического процесса функционально
                        разнесены на&nbsp;независимые элементы. Безусловно, высокотехнологичная...</p>
                </div>
            </a>
        </div>
        <a href="#" class="blog__btn btn-nfill">Весь блог</a>
    </div>
</section>