<section class="brands">
    <div class="container">
        <div class="brands__main">
            <div class="brands__content">
                <h2 class="brands__title title">Производим аэрозольную продукцию для разных сфер</h2>
                <div class="brands__list-wrapper">
                    <ul class="brands__list">
                        <li class="brands__item"><img src="icons/1.svg" alt="Chemical production" class="brands__icon" width="30" height="30">Химические производства</li>
                        <li class="brands__item"><img src="icons/2.svg" alt="car washes" class="brands__icon" width="30" height="30">Автомойки</li>
                        <li class="brands__item"><img src="icons/3.svg" alt="food products" class="brands__icon" width="30" height="30">Пищевая продукция</li>
                        <li class="brands__item"><img src="icons/4.svg" alt="Varnishes and paints" class="brands__icon" width="30" height="30">Лаки и краски</li>
                        <li class="brands__item"><img src="icons/5.svg" alt="Cosmetics" class="brands__icon" width="30" height="30">Косметические средства</li>
                    </ul>
                    <ul class="brands__list">
                        <li class="brands__item"><img src="icons/6.svg" alt="car cosmetics" class="brands__icon" width="30" height="30">Автомобильная косметика</li>
                        <li class="brands__item"><img src="icons/7.svg" alt="Clothing care cosmetics" class="brands__icon" width="30" height="30">Косметика по уходу за одеждой</li>
                        <li class="brands__item"><img src="icons/8.svg" alt="Shoe care cosmetics" class="brands__icon" width="30" height="30">Косметика по уходу за обувью</li>
                        <li class="brands__item"><img src="icons/9.svg" alt="Construction Materials" class="brands__icon" width="30" height="30">Строительные материалы</li>
                        <li class="brands__item"><img src="icons/10.svg" alt="And many others" class="brands__icon" width="30" height="30">И многих других</li>
                    </ul>
                </div>
            </div>
            <div class="brands__logos">
                <div class="brands__logo-item"><a href="#"><img src="icons/mcdonalds.svg" alt="mcdonalds" class="brands__logo-img" width="70" height="70"></a></div>
                <div class="brands__logo-item"><a href="#"><img src="icons/burger-king.svg" alt="burger-king" class="brands__logo-img" width="70" height="70"></a></div>
                <div class="brands__logo-item"><a href="#"><img src="icons/kfc.svg" alt="kfc" class="brands__logo-img" width="70" height="70"></a></div>
                <div class="brands__logo-item"><a href="#"><img src="icons/fedex-express.svg" alt="fedex-express" class="brands__logo-img" width="70" height="70"></a></div>
                <div class="brands__logo-item"><a href="#"><img src="icons/lamborghini.svg" alt="lamborghini" class="brands__logo-img" width="70" height="70"></a></div>
                <div class="brands__logo-item"><a href="#"><img src="icons/bmw.svg" alt="bmw" class="brands__logo-img" width="70" height="70"></a></div>
                <div class="brands__logo-item"><a href="#"><img src="icons/mercedes-benz.svg" alt="mercedes-benz" class="brands__logo-img" width="70" height="70"></a></div>
                <div class="brands__logo-item"><a href="#"><img src="icons/tesla-motors.svg" alt="tesla-motors" class="brands__logo-img" width="70" height="70"></a></div>
                <div class="brands__logo-item"><a href="#"><img src="icons/ford.svg" alt="ford" class="brands__logo-img" width="70" height="70"></a></div>
            </div>
        </div>
    </div>
</section>