<section class="hero" id="hero">
    <div class="container">
        <div class="hero__main">
            <h1 class="hero__title title">Комплексное обеспечение товарами и&nbsp;расходными материалами бизнеса</h1>
            <p class="hero__text">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта напрямую зависит от&nbsp;анализа существующих паттернов поведения.</p>
            <a href="#" class="hero__btn btn ">Подробнее о компании</a>
        </div>
        <div class="hero__items advanteges">
            <div class="advanteges__item">
                <img src="icons/time.svg" alt="time" class="advanteges__item-img" width="36" height="36">
                <div class="advanteges__item-text">Непрерывная работа c&nbsp;2017 года</div>
            </div>
            <div class="advanteges__item">
                <img src="icons/vip.svg" alt="vip" class="advanteges__item-img" width="36" height="36">
                <div class="advanteges__item-text">Вся продукция сертифицирована</div>
            </div>
            <div class="advanteges__item">
                <img src="icons/worker.svg" alt="worker" class="advanteges__item-img" width="36" height="36">
                <div class="advanteges__item-text">Контроль качества на&nbsp;всех этапах</div>
            </div>
            <div class="advanteges__item">
                <img src="icons/car.svg" alt="car" class="advanteges__item-img" width="36" height="36">
                <div class="advanteges__item-text">Возможны поставки по&nbsp;всей России</div>
            </div>
            <div class="advanteges__item">
                <img src="icons/clock.svg" alt="clock" class="advanteges__item-img" width="36" height="36">
                <div class="advanteges__item-text">Оперативное производство</div>
            </div>
        </div>
    </div>
</section>