<section class="manufacturing">
    <div class="container">
        <h2 class="manufacturing__title title">Контрактное производство</h2>
        <div class="manufacturing__wrapper">
            <a href="#" class="manufacturing__item">
                <h3 class="manufacturing__item-title">Автомобильная химия</h3>
                <p class="manufacturing__item-text">Безусловно, сплочённость команды профессионалов позволяет оценить
                    значение форм воздействия.</p>
                <img src="img/avto-him.png" alt="Автомобильная химия" class="manufacturing__item-img" width="480" height="300">
            </a>
            <a href="#" class="manufacturing__item">
                <h3 class="manufacturing__item-title">Бытовая химия</h3>
                <p class="manufacturing__item-text">А&nbsp;также стремящиеся вытеснить традиционное производство,
                    нанотехнологии функционально разнесены на&nbsp;независимые элементы.</p>
                <img src="img/bit-him.png" alt="Бытовая химия" class="manufacturing__item-img" width="480" height="300">
            </a>
            <a href="#" class="manufacturing__item">
                <h3 class="manufacturing__item-title">Дезинфицирующие средства</h3>
                <p class="manufacturing__item-text">Лишь интерактивные прототипы призваны к&nbsp;ответу.</p>
                <img src="img/dezinfect.png" alt="Дезинфицирующие средства" class="manufacturing__item-img" width="480" height="300">
            </a>
            <a href="#" class="manufacturing__item">
                <h3 class="manufacturing__item-title">Пищевые аэрозоли</h3>
                <p class="manufacturing__item-text">Безусловно, сплочённость команды профессионалов позволяет оценить
                    значение форм воздействия.</p>
                <img src="img/bit-him.png" alt="Пищевые аэрозоли" class="manufacturing__item-img" width="480" height="300">
            </a>
            <a href="#" class="manufacturing__item">
                <h3 class="manufacturing__item-title">Косметическая продукция</h3>
                <p class="manufacturing__item-text">Лишь интерактивные прототипы призваны к&nbsp;ответу.</p>
                <img src="img/dezinfect.png" alt="Косметическая продукция" class="manufacturing__item-img" width="480" height="300">
            </a>
            <a href="#" class="manufacturing__item">
                <h3 class="manufacturing__item-title">Краски аэрозольные</h3>
                <p class="manufacturing__item-text">А&nbsp;также стремящиеся вытеснить традиционное производство,
                    нанотехнологии функционально разнесены на&nbsp;независимые элементы.</p>
                <img src="img/bit-him.png" alt="Краски аэрозольные" class="manufacturing__item-img" width="480" height="300">
            </a>
        </div>
    </div>
</section>