<section class="scheme">
    <div class="container">
        <h2 class="scheme__title title">схема работы</h2>
        <div class="scheme__items">
            <div class="scheme__item">
                <div class="scheme__item-num">01</div>
                <h3 class="scheme__item-title">Знакомство</h3>
                <p class="scheme__item-text">Безусловно, сплочённость команды профессионалов позволяет оценить значение форм воздействия.</p>
            </div>
            <div class="scheme__item">
                <div class="scheme__item-num">02</div>
                <h3 class="scheme__item-title">Заключение договора</h3>
                <p class="scheme__item-text">Лишь интерактивные прототипы призваны к&nbsp;ответу.</p>
            </div>
            <div class="scheme__item">
                <div class="scheme__item-num">03</div>
                <h3 class="scheme__item-title">Производство</h3>
                <p class="scheme__item-text">А&nbsp;также стремящиеся вытеснить традиционное производство, нанотехнологии функционально разнесены на&nbsp;независимые элементы.</p>
            </div>
            <div class="scheme__item">
                <div class="scheme__item-num">04</div>
                <h3 class="scheme__item-title">Доставка</h3>
                <p class="scheme__item-text">В&nbsp;частности, экономическая повестка сегодняшнего дня говорит о&nbsp;возможностях приоритизации разума над эмоциями.</p>
            </div>
        </div>
        <button class="scheme__item-btn btn-nfill">Оставить заявку</button>
    </div>
</section>